<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md- 12">
          <div class="card ">
            <div class="card-header ">
              <center>
              <h4 class="card-title"><b>Bienvenu Au -</b>
                <b class="description">Salon Des Entreprises</b>
              </h4></center>
              
             
            </div>
            <div class="card-body ">
  
            
            </div>
  
  
            <div class="card-body ">
              <ul class="nav nav-pills nav-pills-warning" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    Principe 
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    Besoin
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                   Historique
                  </a>
                </li>
              </ul>
              <div class="tab-content tab-space">
                <div class="tab-pane active" id="link1">
                  SDE ou ‘’ Salon des Entreprise’’ est un salon virtuel qui englobe toutes les sociétés Tunisiennes, c’est en quelques sorte un annuaire d’entreprises mais avec plus de fonctionnalités…
                  <br />
                  <br />Le SDE sera insérer sur le magazine Plumes économique en tant que lien et affichage des logos ou images des entreprises inscrites sur cette plateforme, mais il peut également être hébergé à part ou hébergé sous plumes économiques.
                  <br/>
                  <br/> 
                </div>
                <div class="tab-pane" id="link2">
                  SDE sera un outil de recherche sur le site et sur l’internet des entreprises inscrite sur cette plateforme ainsi un accélérateur d’audience pour le site…                <br />
                  <br/>La logique Général vise à crée une plateforme qui englobe toutes les entreprises tunisiennes ou autres, sous forme d’annuaire en ligne, mais qui se dote de plus d’options pour les lecteurs ainsi les chercheurs d’information…
                </div>
                <div class="tab-pane" id="link3">
  Le Salon d'entreprise a était crées par Bghouri Wissal et Khemiri chayma .                <br />Créée en 2021.<br />
  Met en œuvre toutes les secteur.
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">
                <small class="description"></small>
              </h4>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <!--
                                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                -->
                  <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#link10" role="tablist">
                        <i class="material-icons">business</i> SDE
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link11" role="tablist">
                        <i class="material-icons">
                          zoom_in
                        </i> Logique
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="tab-content">
                    <div class="tab-pane active" id="link10">
                      Le Salon de l’Entreprise représente un véritable lieu d’échange, Il représente aussi un lieu de rencontre entre les promoteurs                  <br>
                      <br/>
                      <br/> 
                      Assurer la rencontre, la communication et l’échange d’avis et d’expériences entre les différents acteurs économiques.                  </div>
                    <div class="tab-pane" id="link11">
                      Communiquer les différentes possibilités, avantages, programmes et mécanismes au profit des entreprises afin d’améliorer leur croissance et au profit de l’investissement et la création des entreprises.                    <br>
                      <br>les échanges des apppelles d'offres,l'offre d'emploi, et les formations.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="page-categories">
            <h3 class="title text-center">Page Subcategories</h3>
            <br />
            <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                  <i class="material-icons">info</i> Description
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
                  <i class="material-icons">location_on</i> Location
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                  <i class="material-icons">gavel</i> Legal Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                  <i class="material-icons">help_outline</i> Help Center
                </a>
              </li>
            </ul>
            <div class="tab-content tab-space tab-subcategories">
              <div class="tab-pane" id="link7">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Description about product</h4>
                    <p class="card-category">
                      More information here
                    </p>
                  </div>
                  <div class="card-body">
                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                    <br>
                    <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="link8">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Location of the product</h4>
                    <p class="card-category">
                      More information here
                    </p>
                  </div>
                  <div class="card-body">
                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                    <br>
                    <br> Dramatically maintain clicks-and-mortar solutions without functional solutions.
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="link9">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Legal info of the product</h4>
                    <p class="card-category">
                      More information here
                    </p>
                  </div>
                  <div class="card-body">
                    Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                    <br>
                    <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="link10">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Help center</h4>
                    <p class="card-category">
                      More information here
                    </p>
                  </div>
                  <div class="card-body">
                    From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.
                    <br>
                    <br> Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  