
<div class="wrapper wrapper-full-page">
  <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10  ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Inscription</h2>
            <div class="card-body">
              <div class="row">
                <div class=" col-lg-14 col-xs-12">
                  
                  
                  
                </div>
                <div class="col-md-12 col-lg-12 col-xs-6 mr-auto">
                  <div class="social text-center">
                    
                    
                    
                    
                  </div>
                  
                  <form class="form" #inscription="ngForm" (ngSubmit)="register(inscription)" >

                    <!--  Nom de l'entreprise  -->
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">domain</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" name="nom_enp" #nom_enp="ngModel" ngModel   placeholder="Nom de l'entreprise..." required>
                      </div>
                    </div>

                    <!--  Domaine d'activiter  -->
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">work_outline</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" name="domaine_act" #domaine_act="ngModel" ngModel placeholder="Domaine d'activiter..."   required>
                      </div>
                    </div>


                    <!--  Login  -->
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" name="login" #login="ngModel" ngModel placeholder="Responsable..." >
                      </div>
                    </div>

                    <!--  Email  -->
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" #email="ngModel" ngModel placeholder="Email..." required>
                      </div>
                    </div>

                    <!--  Mot de passe  -->
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Mot de passe..." name="motpass" #motpass="ngModel" ngModel class="form-control" required>
                      </div>
                    </div>
                     <!-- Repetez Mot de passe  -->
                     
                   
                    <div class="text-center">
                     <input type="submit" class="btn btn-primary btn-round mt-4" value="Envoyer">
                    </div>
                    <div class="alert alert-success" *ngIf="succes" >
                      <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                      <span>
                        <b> Succès </b> inscription est terminé</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="error" >
                      <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                      <span>
                        <b> Echec </b>Compte exist </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
       
        <div class="copyright pull-right">
          &copy;
        {{test | date: 'yyyy'}}, Crée <i class="material-icons">favorite</i> Par
          <a href="https://www.creative-tim.com" target="_blank">Bghouri Wissal</a>et Khemiri Chaima  .
        </div>
      </div>
    </footer>
  </div>
</div>
