<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
           
          </a>
        </li>
        <li>
          <a href="https://creative-tim.com/about-us">
            
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
           
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
           
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}},Créée <i class="material-icons">favorite</i> Par
      <a href="https://www.creative-tim.com" target="_blank">Bghouri Wissal</a> et Khemiri Chaima.
    </div>
  </div>
</footer>
